@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Languages#License*@
@inherits  YetaWF.Modules.Languages.Views.Shared.LocalizeStringsHelper<YetaWF.Core.Serializers.SerializableList<YetaWF.Core.Localize.LocalizationData.EnumData>>
@using YetaWF.Core.Localize
@using YetaWF.Modules.Languages.Views.Shared
<div class='yt_yetawf_languages_localizeenums t_edit'>
    @{ int enumIndex = 0; }
    @foreach (LocalizationData.EnumData strEnum in Model) {
        <div class='t_enum'>
            <div class='t_enumtype'>
                @strEnum.Name
            </div>
            <div class='t_enumentries'>
                @Html.ExtHiddenFor(m => strEnum.Name, string.Format("[{0}].Name", enumIndex))
                @{ int entryIndex = 0; }
                @foreach (LocalizationData.EnumDataEntry entry in strEnum.Entries) {
                    <div class='t_enumentry'>
                        @Html.ExtHiddenFor(m => entry.Name, string.Format("[{0}].Entries[{1}].Name", enumIndex, entryIndex))
                        @Html.ExtHiddenFor(m => entry.Value, string.Format("[{0}].Entries[{1}].Value", enumIndex, entryIndex))
                        <div class='t_name'>@Html.ExtLabelFor(m => entry.Name, string.Format("[{0}].Entries[{1}].Caption", enumIndex, entryIndex), Caption: entry.Name, HtmlAttributes: new { Title = __ResStr("enumTT", "Text found in EnumDescriptionAttribute(...) for {0}", entry.Name) })</div>
                        <div class='t_enumvars'>
                            <div class='t_caption'>@Html.EditorFor(m => entry.Caption, "Text40", string.Format("[{0}].Entries[{1}].Caption", enumIndex, entryIndex))</div>
                            <div class='t_desc'>@Html.EditorFor(m => entry.Description, "Text80", string.Format("[{0}].Entries[{1}].Description", enumIndex, entryIndex))</div>
                        </div>
                    </div>
                    <div class="y_cleardiv"></div>
                    ++entryIndex;
                }
            </div>
        </div>
        ++enumIndex;
    }
</div>