@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License*@
@inherits YetaWF.Modules.Panels.Views.Shared.PanelInfoHelper<YetaWF.Modules.Panels.Models.PanelInfo>
@using YetaWF.Core.Views
@using YetaWF.Modules.Panels.Views.Shared
@{
    int tabEntry = 0;
}
<div id="@ControlId" class="yt_panels_panelinfo t_edit">
    @Html.RenderPropertyListTabbed("", Model)
    <div class="t_panels" id="@DivId">
        @Html.RenderTabStripStart(DivId)
        @for (int i = 0 ; i < Model.Panels.Count ; ++i ) {
            string caption = Model.Panels[i].Caption.ToString();
            if (string.IsNullOrWhiteSpace(caption)) { caption = __ResStr("noCaption", "(no caption)"); }
            @Html.RenderTabEntry(DivId, caption, null, i)
        }
        @Html.RenderTabStripEnd(DivId)

        @foreach (var panel in Model.Panels) {
            @Html.RenderTabPaneStart(DivId, tabEntry, "t_panel")
            @Html.EditorFor(m => panel, "PropertyList", string.Format("Panels[{0}]", tabEntry))
            @Html.RenderTabPaneEnd(DivId, tabEntry)
            ++tabEntry;
        }
        @Html.RenderTabInit(DivId, Model)
    </div>
    <div class="t_buttons">
        <input type="button" class="t_apply" value="@__ResStr("btnApply", "Apply")" title="@__ResStr("txtApply", "Click to apply the current changes")" />
        <input type="button" class="t_up" value="@__ResStr("btnUp", "<<")" title="@__ResStr("txtUp", "Click to move the current panel")" />
        <input type="button" class="t_down" value="@__ResStr("btnDown", ">>")" title="@__ResStr("txtDown", "Click to move the current panel")" />
        <input type="button" class="t_ins" value="@__ResStr("btnIns", "Insert")" title="@__ResStr("txtIns", "Click to insert a new panel before the current panel")" />
        <input type="button" class="t_add" value="@__ResStr("btnAdd", "Add")" title="@__ResStr("txtAdd", "Click to add a new panel after the current panel")" />
        <input type="button" class="t_delete" value="@__ResStr("btnDelete", "Remove")" title="@__ResStr("txtDelete", "Click to remove the current panel")" />
    </div>
</div>
<script>
@using (DocumentReady(ControlId)) {
    @: YetaWF_Panels.init('@ControlId');
}
</script>
