@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Menus#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Menus.Modules.MenuEditModule, YetaWF.Modules.Menus.Controllers.MenuEditModuleController.MenuEditModel>
@Html.ValidationSummary()
<div>
    @Html.RenderHidden("MenuGuid", (object) Model.MenuGuid)
    @Html.RenderHidden("MenuVersion", (object) Model.MenuVersion)
    @Html.RenderHidden("ActiveEntry", (object) Model.ActiveEntry)
    @Html.RenderHidden("NewAfter", (object) Model.NewAfter)
    @Html.EditorFor(m => Model.ModAction)
</div>
