@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Visitors#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Visitors.Modules.TinyVisitorsModule, YetaWF.Modules.Visitors.Controllers.TinyVisitorsModuleController.DisplayModel>
<div class="t_image">
    @if (string.IsNullOrWhiteSpace(Model.VisitorsUrl)) {
        <img src="@Manager.GetCDNUrl(Model.ImageUrl)" data-tooltip="@Model.Tooltip" />
    } else {
        <a href="@Model.VisitorsUrl" class="@YetaWF.Core.Addons.Basics.CssActionLink"><img src="@Manager.GetCDNUrl(Model.ImageUrl)" data-tooltip="@Model.Tooltip" alt="Visitors" /></a>
    }
</div>
