@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Basics#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Basics.Modules.AlertDisplayModule, YetaWF.Modules.Basics.Controllers.AlertDisplayModuleController.DisplayModel>
@using YetaWF.Core.Support
@using YetaWF.Core.Addons
@{
    YetaWF.Core.Packages.Package package = YetaWF.Modules.Basics.Controllers.AreaRegistration.CurrentPackage;
    Manager.AddOnManager.AddAddOnNamedAsync(package.Domain, package.Product, "AlertDisplay").Wait();
    string rootUrl = VersionManager.GetAddOnPackageUrl(package.Domain, package.Product);
    string closeUrl = Manager.GetCDNUrl(System.IO.Path.Combine(rootUrl, "Icons", "Close.png"));
}
@if (Model.MessageHandling == YetaWF.Modules.Basics.DataProvider.AlertConfig.MessageHandlingEnum.DisplayUntilOff) {
    <div class="t_close" data-ajaxurl="@YetaWFManager.UrlFor(typeof(YetaWF.Modules.Basics.Controllers.AlertDisplayModuleController), "Off", new { __ModuleGuid = Module.ModuleGuid })">
        <img src="@YetaWFManager.HtmlAttributeEncode(closeUrl)" alt="@__ResStr("clsButtonAlt", "Close Button")" title="@__ResStr("clsButtonTT", "Click to close alert")" />
    </div>
}
<div class="t_message">
    @Html.Raw(Model.Message)
</div>

