@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Languages#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Languages.Modules.LocalizeBrowsePackageModule, YetaWF.Modules.Languages.Controllers.LocalizeBrowsePackageModuleController.BrowseModel>
@using YetaWF.Core.Localize
@if (!LocalizationSupport.UseLocalizationResources) {
    <div class="@YetaWF.Core.Globals.CssDivWarning">
        @__ResStr("disabled1", "Localization support is currently disabled - Use Localization Settings to enable.")
    </div>
} else if (!Manager.CurrentSite.Localization) {
    <div class="@YetaWF.Core.Globals.CssDivWarning">
        @__ResStr("disabled2", "Localization support is currently disabled - Use Site Settings to enable.")
    </div>
}
@using (Form("LocalizeBrowsePackage_Partial")) {
    @PartialForm()
    @Html.DisplayFor(m => Model.GridDef)
}
