@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Blog#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Blog.Modules.CommentsDisplayModule, YetaWF.Modules.Blog.Controllers.CommentsDisplayModuleController.DisplayModel>
@using YetaWF.Core.Support
@using (Form("CommentsDisplay")) {
    if (Model.Comments.Count() == 0) {
        <div class='t_nocomments'>
            @__ResStr("nocommentsAdd", "Be the first to add a comment!")
        </div>
    }
    <div class='t_comments'>
        @{
            int count = 0;
            foreach (YetaWF.Modules.Blog.Controllers.CommentsDisplayModuleController.CommentData comment in Model.Comments) {
                string commentClass = "t_comment" + count.ToString();
                if (Model.CanApprove || Model.CanRemove) {
                    if (comment.Deleted) {
                        commentClass += " t_deleted";
                    } else {
                        commentClass += " t_notdeleted";
                        if (comment.Approved) {
                            commentClass += " t_approved";
                        } else {
                            commentClass += " t_notapproved";
                        }
                    }
                }
                <div class='@commentClass'>
                    @if (Model.CanApprove || Model.CanRemove) {
                        if (comment.Deleted) {
                            <div class='t_boxdeleted'>
                                @__ResStr("deleted", "This comment has been deleted")
                            </div>
                        } else if (!comment.Approved) {
                            <div class='t_boxnotapproved'>
                                @__ResStr("notApproved", "This comment has not yet been approved")
                            </div>
                        }
                    }
                    @if (Model.ShowGravatars && comment.ShowGravatar) {
                        <div class='t_gravatar'>
                            @Html.DisplayFor(m => comment.Email)
                        </div>
                    }
                    <div class='t_title'>@comment.Title</div>
                    <div class='t_comment'>@Html.Raw(comment.Comment)</div>
                    <div class='t_boxinfo'>
                        <div class='t_cmtby'>@__ResStr("by", "By:")</div>
                        <div class='t_cmtauthor'>
                            @if (string.IsNullOrEmpty(comment.Website)) {
                                @comment.Name
                            } else {
                                @Html.Raw(string.Format("<a href='{0}' class='linkpreview-show' target='_blank' rel='nofollow'>{1}</a>", YetaWFManager.HtmlEncode(comment.Website), YetaWFManager.HtmlEncode(comment.Name)));
                            }
                        </div>
                        <div class='t_cmton'>On:</div>
                        <div class='t_cmtdate'>@comment.DateCreated</div>
                    </div>
                    <div class='t_boxactions'>
                        @Html.DisplayFor(m => comment.Actions)
                    </div>
                    <div class='t_cmtend'></div>
                </div>
            }
        }
    </div>
    @FormButtons(new FormButton[] {
        new FormButton() { ButtonType= ButtonTypeEnum.Cancel, Text=this.__ResStr("btnCancel", "Return") },
    });
}
