@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Menus#License*@
@inherits YetaWF.Modules.Menus.Views.Shared.Menu<YetaWF.Modules.Menus.Views.Shared.MenuHelper.MenuData>
@using YetaWF.Core.Views
@using YetaWF.Modules.Menus.Views.Shared
@using YetaWF.Core.Views.Shared
@{
    MenuHelper.MenuStyleEnum style = Html.GetControlInfo<MenuHelper.MenuStyleEnum>("", "Style", MenuHelper.MenuStyleEnum.Automatic);
    if (style == MenuHelper.MenuStyleEnum.Automatic) {
        style = Manager.UsingBootstrap ? MenuHelper.MenuStyleEnum.Bootstrap : MenuHelper.MenuStyleEnum.Kendo;
    }

    if (style == MenuHelper.MenuStyleEnum.Bootstrap) {
        System.Web.Mvc.MvcHtmlString menu = Html.Render(Model.MenuList, DivId, null, YetaWF.Core.Modules.ModuleAction.RenderEngineEnum.BootstrapSmartMenu);
        if (menu != System.Web.Mvc.MvcHtmlString.Empty) {
            Manager.AddOnManager.AddAddOnGlobal("github.com.vadikom", "smartmenus"); // multilevel navbar
            @menu;
        }
    } else {
        System.Web.Mvc.MvcHtmlString menu = Html.Render(Model.MenuList, DivId, Model.CssClass, YetaWF.Core.Modules.ModuleAction.RenderEngineEnum.JqueryMenu);
        if (menu != System.Web.Mvc.MvcHtmlString.Empty) {
            Manager.ScriptManager.AddKendoUICoreJsFile("kendo.popup.min.js");
            Manager.ScriptManager.AddKendoUICoreJsFile("kendo.menu.min.js");
            <div class='yt_yetawf_menus_menu t_display' role="navigation">
                @menu
            </div>
            <script>
                $("#@DivId").kendoMenu({
                    direction: '@Model.GetDirection()',
                    orientation: '@Model.GetOrientation()',
                    popupCollision: 'fit flip',
                    @*@if (Module.UseAnimation) {
                        @:  animation: {
                        @:      open: { effects: '@Module.GetOpenEffects()', duration: @Module.OpenDuration },
                        @:      close: { effects: '@Module.GetCloseEffects()', duration: @Module.CloseDuration }
                        @:  },
                    }*@
                    hoverDelay: @Model.HoverDelay.ToString()
                });
                @if (Model.ShowPath) {
                    using (DocumentReady()) {
                        @: YetaWF_Menu.init('@DivId')
                    }
                }
            </script>
        }
    }
}
