@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/DevTests#License*@
@inherits YetaWF.Modules.DevTests.Views.Shared.ListOfEmailAddressesHelper<List<string>>
@using YetaWF.Modules.DevTests.Controllers
@using YetaWF.Core.Support
@using YetaWF.Core.Views
@using YetaWF.Modules.DevTests.Views.Shared
<div class='yt_listofemailaddresses yt_grid_addordelete t_edit' id="@DivId"
        data-dupmsg="@__ResStr("dupmsg", "Email address {0} has already been added")"
        data-addedmsg="@__ResStr("addedmsg", "Email address {0} has been added")"
        data-remmsg="@__ResStr("remmsg", "Email address {0} has been removed")">
    @Html.RenderListOfEmailAddresses("", Model)
    @Html.RenderListOfEmailAddressesAddNew("", Model)
</div>
<script>
@using (DocumentReady()) {
    @: YetaWF_Grid.setAddButtonStatus($('#@DivId'));
}
</script>
