@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Scheduler#License*@
@inherits YetaWF.Modules.Scheduler.Views.Shared.SchedulerEvent<YetaWF.Core.Scheduler.SchedulerEvent>
<div class='yt_yetawf_scheduler_event t_display'>
    <div class="t_event">
        <span class="t_eventname">@Model.Name</span>
    </div>
    <div class="t_info">
        <div class="t_row t_implementingassembly">
            <div class="t_labels">
                @Html.ExtLabelFor(m => Model.ImplementingAssembly)
            </div>
            <div class="t_vals">
                <span class="t_implasm">@Model.ImplementingAssembly</span>
            </div>
        </div>
        <div class="t_row t_implementingtype">
            <div class="t_labels">
                @Html.ExtLabelFor(m => Model.ImplementingType)
            </div>
            <div class="t_vals">
                <span class="t_impltype">@Model.ImplementingType</span>
            </div>
        </div>
    </div>
</div>
