@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ImageRepository#License*@
@inherits YetaWF.Modules.ImageRepository.Views.Shared.ImageSelectionHelper<string>
@using YetaWF.Core.Views
@using YetaWF.Modules.ImageRepository.Support
@using YetaWF.Core.Extensions;
@using YetaWF.Modules.ImageRepository.Views.Shared
@{ Manager.AddOnManager.AddTemplate("Image"); }
@{ ImageSelectionInfo info = Html.GetParentModelSupportProperty<ImageSelectionInfo>("", "Info"); }
<div id="@ControlId" class="yt_imagerepository_imageselection">
    @Html.HiddenFor(m => Model)
    <div class="t_imgarea">
        <div class="t_list">
            <select name="List" size="@info.Count">
                @foreach (var f in info.Files) {
                    string name = f.RemoveStartingAt(YetaWF.Core.Image.ImageSupport.ImageSeparator);
                    <option title="@name" value="@f">@name</option>
                }
            </select>
        </div>
        <div class="t_preview">
            <img src="@Manager.GetCDNUrl(info.MakeImageUrl(Model, info.PreviewWidth, info.PreviewHeight, ForceHttpHandler: true))" alt="@__ResStr("preview", "Image Preview")" />
        </div>
    </div>
    <div class="t_haveimage" @Html.Raw(string.IsNullOrWhiteSpace(Model) ? "style='display:none'" : "")>
        @Html.DisplayFor(m=>info.ClearImageButton, "ModuleAction")
        @Html.DisplayFor(m=>info.RemoveImageButton, "ModuleAction")
    </div>
    <div class="t_uploadarea">
        @Html.RenderUploadControl("", info)
    </div>
</div>
<script>
    @using (DocumentReady()) {
        @: YetaWF_ImageRepository.initSelection('@ControlId');
    }
</script>
