@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ImageRepository#License*@
@inherits YetaWF.Modules.ImageRepository.Views.Shared.FlashSelectionHelper<string>
@using YetaWF.Core.Views
@using YetaWF.Modules.ImageRepository.Support
@using YetaWF.Core.Extensions;
@using YetaWF.Modules.ImageRepository.Views.Shared
@{ Manager.AddOnManager.AddTemplate("Flash"); }
@{
    Manager.AddOnManager.AddAddOnGlobal("google.com.swfobject", "swfobject");
    FlashSelectionInfo info = Html.GetParentModelSupportProperty<FlashSelectionInfo>("", "Info");
    string objId = UniqueId();
}
<div id="@ControlId" class="yt_imagerepository_flashselection">
    @Html.RenderHidden("", Model)
    <div class="t_imgarea">
        <div class="t_list">
            <select name="List" size="@info.Count">
                @foreach (var f in info.Files) {
                    string name = f.RemoveStartingAt(YetaWF.Core.Image.ImageSupport.ImageSeparator);
                    <option title="@name" value="@f">@name</option>
                }
            </select>
        </div>
        <div class="t_preview">
            <div id="@objId">
                <p>Flash Not Installed</p>
            </div>
            @*use attributes so script manager doesn't reorder this*@
            <script>
            @using (DocumentReady(ControlId)) {
                @: swfobject.embedSWF("@Html.Raw(info.MakeFlashUrl(Model, ForceHttpHandler: true))", "@objId", "@info.PreviewWidth", "@info.PreviewHeight", "9.0.0", false,
                @:     null, { wmode: "transparent", allowScriptAccess: "true", quality:"high" } );
            }
            </script>
        </div>
    </div>
    <div class="t_haveflash" @Html.Raw(string.IsNullOrWhiteSpace(Model) ? "style='display:none'" : "")>
        @Html.DisplayFor(m=>info.ClearFlashButton, "ModuleAction")
        @Html.DisplayFor(m=>info.RemoveFlashButton, "ModuleAction")
    </div>
    <div class="t_uploadarea">
        @Html.RenderUploadControl("", info)
    </div>
</div>
<script>
    @using (DocumentReady(ControlId)) {
        @: YetaWF_FlashImageRepository.initSelection('@ControlId');
    }
</script>
