@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Feed#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Feed.Modules.FeedModule, YetaWF.Modules.Feed.Controllers.FeedModuleController.DisplayModel>
@using YetaWF.Modules.Feed.Controllers
@using YetaWF.Core.Localize
<div id="@DivId" class='t_news'>
    <div class='t_header' data-entry='0'>
        @if (Model.Url != null) {
            <a class='t_title' href='@Model.Url' data-tooltip="@Model.Description" target='_blank'>@Model.Title</a>
        } else {
            <span class='t_title' title="@Model.Description">@Model.Title</span>
        }
    </div>
    <div class='t_headerentry'></div>
    @foreach (FeedModuleController.Entry entry in Model.Entries) {
        string author = null;
        foreach (FeedModuleController.Author a in entry.Authors) {
            if (!string.IsNullOrWhiteSpace(a.Email)) {
                if (string.IsNullOrWhiteSpace(author)) {
                    author += __ResStr("sep", " | ");
                }
                author += string.Format("<a href='mailto:{0}'>{1}</a>", a.Email, string.IsNullOrWhiteSpace(a.Name) ? a.Email : a.Name);
            } else if (string.IsNullOrWhiteSpace(a.Url)) {
                if (string.IsNullOrWhiteSpace(author)) {
                    author += __ResStr("sep", " | ");
                }
                author += string.Format("<a href='{0}'>{1}</a>", a.Url, string.IsNullOrWhiteSpace(a.Name) ? a.Email : a.Url);
            } else if (string.IsNullOrWhiteSpace(a.Name)) {
                author += a.Name;
            }
        }
        <div class='t_entry'>
            <a class='t_title' href='@entry.Links.First()'
                target='_blank' data-text='@entry.Description' data-publishedDate='@Formatting.FormatDate(entry.PublishDate)' data-author='@author'>@entry.Title</a>
        </div>
    }
</div>
<script>
    YetaWF_Feed.init('@DivId', @(Module.Interval * 1000));
</script>