@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/CurrencyConverter#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.CurrencyConverter.Modules.CurrencyConverterModule, YetaWF.Modules.CurrencyConverter.Controllers.CurrencyConverterModuleController.Model>
@using YetaWF.Modules.CurrencyConverter.Views.Shared
@using YetaWF.Modules.CurrencyConverter.Controllers
@using YetaWF.Modules.CurrencyConverter.DataProvider
@*based on https://openexchangerates.org*@
@{ 
    Manager.ScriptManager.AddScript(YetaWF.Modules.CurrencyConverter.Controllers.AreaRegistration.CurrentPackage.Domain, YetaWF.Modules.CurrencyConverter.Controllers.AreaRegistration.CurrentPackage.Product, ExchangeRateDataProvider.JSFile, Bundle: false);
    string wantFocus = Module.WantFocus ? " focusonme" : "";
}
<div class="t_converter">
    <div class="t_amountlabel">
        @__ResStr("amount", "Amount:")
    </div>
    <div class="t_amount @wantFocus">
        @Html.EditorFor(m => Model.Amount)
    </div>
    <div class="t_fromlabel">
        @__ResStr("from", "From:")
    </div>
    <div class="t_from">
        @Html.EditorFor(m => Model.FromCountry)
    </div>
    <div class="t_tolabel">
        @__ResStr("to", "To:")
    </div>
    <div class="t_to">
        @Html.EditorFor(m => Model.ToCountry)
    </div>
    <div class="t_button">
        @{
            FormButton button = new FormButton() { ButtonType = ButtonTypeEnum.Button, Name = "convert", Text = this.__ResStr("btnGo", "Go") };   
        }
        @button.Render()
    </div>
    <div class="t_result_from t_results">
    </div>
    <div class="t_result_is t_results">
        @__ResStr("is", " => ")
    </div>
    <div class="t_result_to t_results">
    </div>
    <div class="t_disclaimer">
        @__ResStr("disclaimer", "Conversions are approximate and do not include taxes/fees and other conversion costs")
    </div>
</div>
