@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Identity#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Identity.Modules.LoginModule, YetaWF.Modules.Identity.Controllers.LoginModuleController.LoginModel>
@using YetaWF.Core.Support
@using Microsoft.Owin.Security
@using Microsoft.Owin.Host
@using (Form("Login_Partial")) {
    @PartialForm()
    @FormButtons(new FormButton[] {
        new FormButton() { ButtonType= ButtonTypeEnum.Submit, Text=this.__ResStr("btnSave", "Log In") },
        new FormButton() { ButtonType= ButtonTypeEnum.Cancel, },
    });
}
@{
    if (Model.ExternalProviders.Count > 0) {
        <div class="t_external">
            <h2>@__ResStr("extProviders","External Login Providers")</h2>
            @if (Manager.IsLocalHost) {
                <div class="@YetaWF.Core.Globals.CssDivWarning">
                    @__ResStr("localOnly", "External login providers may not work when your site uses Localhost.")
                </div>
            }
            @if (Model.ExternalProviders.Count > 1) {
                <p>@__ResStr("accts", "Log in using one of these accounts:")</p>
            } else {
                <p>@__ResStr("acct1", "Log in using this account:")</p>
            }
            @using (Html.BeginForm("ExternalLogin", "LoginExternal")) {
                int index = 0;
                @Html.AntiForgeryToken()
                foreach (YetaWF.Core.Views.Shared.FormButton formButton in Model.ExternalProviders) {
                    <div class='t_ext1'>
                        <img src="@YetaWFManager.HtmlAttributeEncode(Model.Images[index])" alt="@YetaWFManager.HtmlAttributeEncode(formButton.Title)" title="@YetaWFManager.HtmlAttributeEncode(formButton.Title)" />
                        @formButton.Render()
                        @{ ++index; }
                    </div>
                }
            }
        </div>
    }
}