@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Identity#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Identity.Modules.UserPasswordModule, YetaWF.Modules.Identity.Controllers.UserPasswordModuleController.EditModel>
@using (Form("UserPassword_Partial")) {
    if (!string.IsNullOrWhiteSpace(Model.LoginProvider)) {
        if (Model.HavePassword) {
            <div class="t_havepswd">
                @__ResStr("extLogProviderHavePswd", "Currently you can log into this site directly or using {0}.", Model.LoginProvider)
                @__ResStr("extLogProviderHavePswd2", "The password below is only used when you log into this site directly, using your user name {0} and this password. This is not necessarily the same password as your {1} password and changing it here will NOT change your {1} password.", Model.UserName, Model.LoginProvider)
            </div>
        } else {
            <div class="t_nopswd">
                @__ResStr("extLogProviderNoPswd", "Currently you can only log into this site using {0}.", Model.LoginProvider)
                @__ResStr("extLogProviderNoPswd2", "By entering a password below you can also log into this site directly, using your user name {0} and this new password. This will NOT change your {1} password.", Model.UserName, Model.LoginProvider)
            </div>
        }
    }
    @PartialForm()
    @FormButtons(new FormButton[] {
        new FormButton() { ButtonType= ButtonTypeEnum.Submit, },
        new FormButton() { ButtonType= ButtonTypeEnum.Cancel, },
    });
}
