@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Scheduler#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Scheduler.Modules.LogBrowseModule, YetaWF.Modules.Scheduler.Controllers.LogBrowseModuleController.BrowseModel>
@using YetaWF.Core
@if (YetaWF.Core.Scheduler.SchedulerSupport.Enabled) {
    <div class="@YetaWF.Core.Globals.CssDivWarning">
        @__ResStr("enabled", "The Scheduler is enabled.")
    </div>
} else {
    <div class="@YetaWF.Core.Globals.CssDivAlert">
        @__ResStr("disabled", "The Scheduler is disabled.")
    </div>
}
@if (!Model.LogAvailable) {
    <div class="@Globals.CssDivAlert t_browselog t_file">
        @__ResStr("fileNA", "The scheduler log is not available. Scheduler logging has not been started.")
        @if (YetaWF.Core.Scheduler.SchedulerSupport.Enabled) {
            @__ResStr("fileNA2", "This may be caused by a missing log folder (\\Data\\DataFolder\\YetaWF_Scheduler) or due to permissions issues writing to the folder.")
        }
    </div>
} else if (Model.BrowsingSupported) {
    using (Form("LogBrowse_Partial")) {
        @PartialForm()
    }
} else {
    <div class="@Globals.CssDivWarning t_browselog t_file">
        @__ResStr("file", "The scheduler log is a flat file. Online browsing is not available.")
    </div>
}
