@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Scheduler#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Scheduler.Modules.SchedulerBrowseModule, YetaWF.Modules.Scheduler.Controllers.SchedulerBrowseModuleController.SchedulerBrowseModel>
@if (YetaWF.Core.Scheduler.SchedulerSupport.Enabled) {
<div class="@YetaWF.Core.Globals.CssDivWarning">
    @__ResStr("enabled", "The Scheduler is enabled.")
</div>
} else {
<div class="@YetaWF.Core.Globals.CssDivAlert">
    @__ResStr("disabled", "The Scheduler is disabled.")
</div>
}
@using (Form("SchedulerBrowse_Partial")) {
    @PartialForm()
}
