@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Search#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Search.Modules.SearchResultsModule, YetaWF.Modules.Search.Controllers.SearchResultsModuleController.Model>
@using YetaWF.Core.Localize
@if (Model.SearchResults.Count == 0) {
    if (Manager.EditMode) {
        <div class='t_summary t_none'>@__ResStr("noResultsAdmin", "No search results available.")</div>
    } else {
        <div class='t_summary t_none'>@__ResStr("noResults", "Your search for \"{0}\" did not match any documents.", Model.SearchTerms)</div>
    }
} else {
    if (Model.MoreResults) {
        if (Model.SearchResults.Count > 1) {
            <div class='t_summary t_results'>@__ResStr("resultsMore", "Your search for \"{0}\" found {1} matches - more are available.", Model.SearchTerms, Model.SearchResults.Count)</div>
        } else {
            <div class='t_summary t_results'>@__ResStr("resultsMore1", "Your search for \"{0}\" found {1} match - more are available.", Model.SearchTerms, Model.SearchResults.Count)</div>
        }
    } else {
        if (Model.SearchResults.Count > 1) {
            <div class='t_summary t_results'>@__ResStr("results", "Your search for \"{0}\" found {1} matches.", Model.SearchTerms, Model.SearchResults.Count)</div>
        } else {
            <div class='t_summary t_results'>@__ResStr("results1", "Your search for \"{0}\" found {1} match.", Model.SearchTerms, Model.SearchResults.Count)</div>
        }
    }
    <div class="t_list">
        @Html.DisplayFor(m => Model.SearchTerms)
        @{ int count = 0; }
        @foreach (YetaWF.Modules.Search.DataProvider.SearchResult data in Model.SearchResults) {
            string row = string.Format("t_r{0}", count);
            <div class="t_entry @row">
                <div class='t_desc @row'>
                    <a href="@data.PageUrl" target="_blank">@data.Description</a>
                </div>
                @if (Model.ShowSummary) {
                    <div class='t_symmary @row'>
                        @data.PageSummary
                    </div>
                }
                @if (Model.ShowUrl) {
                    <div class='t_url @row'>
                        @data.PageUrl
                    </div>
                }
                @{
                    DateTime modified = data.DateCreated;
                    if (data.DateUpdated != null) { modified = (DateTime)data.DateUpdated; }
                    if (modified != DateTime.MinValue) {
                        <div class='t_updated @row'>
                            @__ResStr("lastUpd", "Updated {0}", Formatting.FormatDateTime(modified))
                        </div>
                    }
                }
            </div>
            ++count;
        }
    </div>
}